<nav class="side-nav navbar-inverse">
  <ul class="nav nav-stacked">
    <li id="nav-brand"><%= link_to 'Company Catalog', root_path %></li>
    <li><%= link_to 'Contact Us',     contact_path %></li>
  </ul>
</nav>
